//site primary navigation

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;

  span {
    margin-right: 0.5em;
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }
}

//indicators for nav/lists that have an underline

.underline-indicators > * {
  position: relative;
}

.underline-indicators > *:hover::after {
  content: "";
  position: absolute;

  height: 3px;
  bottom: -1em;
  left: 0;
  right: 0;

  background: hsl(var(--clr-white) / 0.5);
}

.underline-indicators .active::after {
  content: "";
  position: absolute;

  height: 3px;
  bottom: -1em;
  left: 0;
  right: 0;

  background: hsl(var(--clr-white));
}

//tab element styles

.tab > * {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.tab .active {
  color: hsl(var(--clr-white));
}

//dot element indicators

.dot-indicators > * {
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: hsl(var(--clr-white) / 0.25);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: hsl(var(--clr-white) / 0.5);
  }

  &[aria-selected="true"] {
    background-color: hsl(var(--clr-white) / 1);
  }
}

//numbered indiciators

.number-indicators > * {
  cursor: pointer;
  background: transparent;
  color: hsl(var(--clr-white));
  border: 1px solid hsl(var(--clr-white) / 0.25);
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 80px;

  &:hover,
  &:focus {
    border: 1.5px solid hsl(var(--clr-white));
  }

  &[aria-selected="true"] {
    background: hsl(var(--clr-white) / 1);
    color: hsl(var(--clr-dark));
  }
}
